In [1]:
# Loading the relevant packages

import pandas as pd
import os

In [5]:
# Loading the datasets from the data folder

mvp_candidates = pd.read_csv('../data/mvp_candidates.csv')
team_standings = pd.read_csv('../data/team_standings.csv')
advanced_stats = pd.read_csv('../data/advanced_stats.csv')

In [6]:
mvp_candidates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 710 entries, 0 to 709
Data columns (total 21 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     710 non-null    object
 1   Player   710 non-null    object
 2   Age      710 non-null    int64
 3   Tm       710 non-null    object
 4   First    710 non-null    float64
 5   Pts Won  710 non-null    float64
 6   Pts Max  710 non-null    int64
 7   Share    710 non-null    float64
 8   G        710 non-null    int64
 9   MP       710 non-null    float64
 10  PTS      710 non-null    float64
 11  TRB      710 non-null    float64
 12  AST      710 non-null    float64
 13  STL      710 non-null    float64
 14  BLK      710 non-null    float64
 15  FG%      710 non-null    float64
 16  3P%      684 non-null    float64
 17  FT%      710 non-null    float64
 18  WS       710 non-null    float64
 19  WS/48    710 non-null    float64
 20  year     710 non-null    int64
dtypes: float64(14), int64(4), object(3)
memory usage: 116.6+ KB

In [7]:
# Filling all null values in the 3P% column with 0

mvp_candidates[mvp_candidates['3P%'].isna()]
mvp_candidates['3P%'] = mvp_candidates['3P%'].fillna(0)

In [8]:
mvp_candidates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 710 entries, 0 to 709
Data columns (total 21 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     710 non-null    object
 1   Player   710 non-null    object
 2   Age      710 non-null    int64
 3   Tm       710 non-null    object
 4   First    710 non-null    float64
 5   Pts Won  710 non-null    float64
 6   Pts Max  710 non-null    int64
 7   Share    710 non-null    float64
 8   G        710 non-null    int64
 9   MP       710 non-null    float64
 10  PTS      710 non-null    float64
 11  TRB      710 non-null    float64
 12  AST      710 non-null    float64
 13  STL      710 non-null    float64
 14  BLK      710 non-null    float64
 15  FG%      710 non-null    float64
 16  3P%      710 non-null    float64
 17  FT%      710 non-null    float64
 18  WS       710 non-null    float64
 19  WS/48    710 non-null    float64
 20  year     710 non-null    int64
dtypes: float64(14), int64(4), object(3)
memory usage: 116.6+ KB

In [9]:
team_standings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1224 entries, 0 to 1223
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   team    1224 non-null   object
 1   W       1224 non-null   int64
 2   L       1224 non-null   int64
 3   W/L%    1224 non-null   float64
 4   GB      1224 non-null   object
 5   PS/G    1224 non-null   float64
 6   PA/G    1224 non-null   float64
 7   SRS     1224 non-null   float64
 8   year    1224 non-null   int64
 9   seed    1224 non-null   float64
dtypes: float64(5), int64(3), object(2)
memory usage: 95.8+ KB

In [10]:
# Creating a dictionary with all the team abbreviations with their equivalent team names and mapping the abbreviations with the team names in the datasets

team_abbreviations = {
    "Atlanta Hawks": "ATL",
    "Boston Celtics": "BOS",
    "Brooklyn Nets": "BRK",
    "Charlotte Bobcats": "CHA",
    "Charlotte Hornets": "CHH",
    "Chicago Bulls": "CHI",
    "Cleveland Cavaliers": "CLE",
    "Dallas Mavericks": "DAL",
    "Denver Nuggets": "DEN",
    "Detroit Pistons": "DET",
    "Golden State Warriors": "GSW",
    "Houston Rockets": "HOU",
    "Indiana Pacers": "IND",
    "Kansas City Kings": "KCK",
    "Los Angeles Clippers": "LAC",
    "Los Angeles Lakers": "LAL",
    "Memphis Grizzlies": "MEM",
    "Miami Heat": "MIA",
    "Milwaukee Bucks": "MIL",
    "Minnesota Timberwolves":"MIN",
    "New Jersey Nets": "NJN",
    "New Orleans Hornets": "NOH",
    "New Orleans/Oklahoma City Hornets": "NOH",
    "New Orleans Pelicans": "NOP",
    "New York Knicks": "NYK",
    "Brooklyn Nets": "BKN",
    "Brooklyn Nets": "BRK",
    "Oklahoma City Thunder": "OKC",
    "Orlando Magic": "ORL",
    "Philadelphia 76ers": "PHI",
    "Phoenix Suns": "PHO",
    "Portland Trail Blazers": "POR",
    "Sacramento Kings": "SAC",
    "San Antonio Spurs": "SAS",
    "San Diego Clippers": "SDC",
    "Seattle SuperSonics": "SEA",
    "Toronto Raptors": "TOR",
    "Utah Jazz": "UTA",
    "Vancouver Grizzlies": "VAN",
    "Washington Bullets": "WSB",
    "Washington Wizards": "WAS"
}
team_standings['Tm'] = team_standings['team'].map(team_abbreviations)

In [11]:

mvp_candidates['Tm'].unique() #The 'TOT' in the mvp_candidates dataset indicates that the player played for multiple teams in that year, we can drop those rows since none of the players who played for multiple teams in a season won an MVP award.
mvp_candidates = mvp_candidates[mvp_candidates['Tm'] != 'TOT']

In [12]:
team_standings['Tm'] = team_standings['Tm'].replace('TOT', 'TOR') # The TOT in the team_standings dataset, means that this abbreviation was used for the Toronto Raptors instead of the usual 'TOR'

In [13]:
merged_df = pd.merge(mvp_candidates, team_standings, on = ['year', 'Tm'], how = 'left')
merged_df.rename(columns={'Player': 'name'}, inplace=True)

merged_df

,Rank,name,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,year,team,W,L,W/L%,GB,PS/G,PA/G,SRS,seed
0,1,Kareem Abdul-Jabbar,32,LAL,147.0,147.0,221,0.665,82,38.3,...,1980,Los Angeles Lakers,60,22,0.732,—,115.1,109.2,5.40,1.0
1,2,Julius Erving,29,PHI,31.5,31.5,221,0.143,78,36.1,...,1980,Philadelphia 76ers,59,23,0.720,2.0,109.1,104.9,4.04,2.0
2,3,George Gervin,27,SAS,19.0,19.0,221,0.086,78,37.6,...,1980,San Antonio Spurs,41,41,0.500,9.0,119.4,119.7,-0.24,4.5
3,4,Larry Bird,23,BOS,15.0,15.0,221,0.068,82,36.0,...,1980,Boston Celtics,61,21,0.744,—,113.5,105.7,7.37,1.0
4,5T,Tiny Archibald,31,BOS,2.0,2.0,221,0.009,80,35.8,...,1980,Boston Celtics,61,21,0.744,—,113.5,105.7,7.37,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,9,Stephen Curry,34,GSW,0.0,5.0,1000,0.005,56,34.7,...,2023,Golden State Warriors,44,38,0.537,9.0,118.9,117.1,1.66,5.5
699,10,Jimmy Butler,33,MIA,0.0,3.0,1000,0.003,64,33.4,...,2023,Miami Heat,44,38,0.537,14.0,109.5,109.8,-0.13,7.0
700,11,De'Aaron Fox,25,SAC,0.0,2.0,1000,0.002,73,33.4,...,2023,Sacramento Kings,48,34,0.585,5.0,120.7,118.1,2.30,3.0
701,12T,Jalen Brunson,26,NYK,0.0,1.0,1000,0.001,68,35.0,...,2023,New York Knicks,47,35,0.573,11.0,116.0,113.1,2.99,5.0
702,12T,Ja Morant,23,MEM,0.0,1.0,1000,0.001,61,31.9,...,2023,Memphis Grizzlies,51,31,0.622,2.0,116.9,113.0,3.60,2.0

In [14]:
# Merging the advanced statistics and creating our final master table

merged_with_advanced = pd.merge(merged_df, advanced_stats, on = ['name', 'year'], how = 'left')

data_folder = '../data'
if not os.path.exists(data_folder):
    os.makedirs(data_folder)

final_table_csv = os.path.join(data_folder, 'final_table.csv')
merged_with_advanced.to_csv(final_table_csv, index = False)